.wrapper
  = render "header"
  .wrapper__breadcrumb
    パンくずエリア
  .identification-content
    .credit__container
      %h2.chapter__header 支払い方法
      .credit__container-inner
        %section
          %h3.credit__container-inner-content クレジットカード一覧
        %section.user__card
          %button.delete 削除する
          .user__card-info
            %span.image
            %img{src: "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2394192159 ", width: "49", height: "15"}
            %br
            **** **** **** **** 
            %br
            05/24
        %section
          = link_to '/', class: "payment__box-content" do
            %span 支払い方法について
    =render "sidebar"        
  = render "footer"
  = render "exhibit"   