.completion-container
  .completion-container__header
    .completion-container__header__text
      会員登録完了
  .completion-container__notice
    .completion-container__notice__text
      ありがとうございます。
      %br
      会員登録が完了しました。
  .completion-container__btn
    %button{class:"btn-default", type:"submit"}
      メルカリをはじめる
  .completion-container__banner
    = render "footer-top"