.container
  .container__header
    .container__header__completion
      会員登録完了
  .container__notice
    .container__notice__text
      ありがとうございます。
      %br
      会員登録が完了しました。
  .container__btn
    %button{class:"btn-default", type:"submit"}
      メルカリをはじめる
  .container__banner
    = render "footer-top"