.wrapper
  = render "header"
  .wrapper__breadcrumb
    パンくずエリア
  .identification-content
    .large-content
      .logout-box
        .logout-box__btn
          = link_to "ログあああああ", destroy_user_session_path, class:"btn-default btn-red", method: :delete
    =render "sidebar"        
  = render "footer"
  = render "exhibit"    