.wrapper
  = render "header"
  .wrapper__breadcrumb
    - breadcrumb :logout
    = breadcrumbs pretext: "",separator: " &rsaquo; ", class: "breadcrumbs-list"
  .identification-content
    .large-content
      .logout-box
        .logout-box__btn
          =button_to "ログアウト","", class:"btn-default btn-red"
    =render "sidebar"        
  = render "footer"
  = render "exhibit"    