.footer {
  .footer-top {
    height: 250px;
    background-image: url('https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?71240750');
    background-position: center;
    background-size: cover;
    &_content {
      position: relative;
      display: flex;
      height: 250px;
      width: 750px;
      margin: 0 auto;
      &-inner {
        max-width: 420px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        color: white;
        &-text {
          font-size: 24px;
          font-weight: bold;
        }
        &-text2 {
          font-size: 35px;
        }
        &-icon {
          display: flex;
          margin-top: 20px;
          &-app {
            margin-left: 20px;
            margin-top: 15px;
            display: flex;
            .icon-phone {
              margin-left: 10px;
            }
          }
        }
      }
    .phone {
      margin: 0;
      position: absolute;
      top:0;
      right: 0;
    }
    }
  }
  .footer-bottom {
    height: 400px;
    background-color: rgb(33, 33, 33);
    color: #fff;
    &_head {
      height: 300px;
      width: 1100px;
      margin: 0 auto;
      display: flex;
      li {
        margin-top: 7px;
      }
      &_cell {
        width: 23%;
        margin-top: 18px;
        padding-right: 20px;
        &-link {
          display: inline-block;
          font-size: 30px;
          .icon {
            color: #f5f5f5;
            margin: 18px 18px 0 0;
          }
        }
        .footer-cell {
          font-size: 16px;
          font-weight: 700;
        }
      }
      &_cell-width {
        width: 45%;
        margin-top: 18px;
        padding-right: 20px; 
        .footer-cell {
          font-size: 16px;
          font-weight: 700;
        }
        &-inner {
          display: flex;
          justify-content: space-around;
        }
      }
      &_cell-country {
        width: auto;
        margin-top: 18px;
        padding-right: 20px; 
        .footer-cell {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
    &_under {
      height: 30px;
      max-width: 1000px;
      margin: 30px auto 20px;
      display: flex;
      &-right {
        font-size: 12px;
        width: 850px;
        margin: 8px 0 0 10px;
        text-align: center;
      }
    }
  }
}