_* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  background:#f5f5f5;
}

.btn-default {
  height: 50px;
  width: 320px;
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  background-color: #EA352D;
}

.container {
  margin: 0 auto;
  width: 700px;
  background: white;
  text-align: center;
  &__header {
    display: inline-block;
    margin: 20px 0;
    &__completion {
      font-weight: bold;
    }
  }
  &__notice {
    border-top: 1px solid #ccc;
    &__text {
      margin: 20px auto;
    }
  }
  &__btn {
    margin: 20px;
  }
  &__banner {
    @include footer-top();
  }
}