* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

li {
  list-style: none;
}

.link {
  color: black;
  text-decoration: none;
}

.link_blue {
  color: #0099e8;
  text-decoration: none;
}

.cell {
  text-decoration: none;
  color: #EEEEEE;
  font-size: 12px;
}

.top-page_content {
  .topic {
    height: 400px;
    background-color: aliceblue;
    .img {
      max-width: 680px;
      margin: 0 auto;
      display: block;
    }
  }
  .main_content {
    background-color: #f5f5f5;
    .products {
      min-height: 500px;
      max-width: 920px;
      margin: 0 auto;
      padding: 40px 0;
      &_head {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
      }
      &_contain {
        &_name {
          text-align: center;
          margin: 26px 11px;
          font-size: 22px;
          font-weight: bold;
        }
        &_item {
          @include clearfix();
          &-box {
            position: relative;
            float: left;
            width: 210px;
            height: 300px;
            margin: 5px 0 0 20px;
            background-color: white;
            &-image {
              width: 210px;
              height: 190px;
            }
            &-body {
              position: relative;
              width: 210px;
              height: 110px;
              padding: 16px;
              &-name {
                font-size: 16px;
                height: 3em;
              }
              &-under {
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
                &-price {
                  
                }
                &-likes {
                  
                }
              }
            }
          }
        }
        &_view {
          text-align: right;
          padding: 20px 0 30px 0;
          margin-right: 5px;
          font-size: 14px;
        }
      }
    }
  }
}

// 商品出品ページ
.contents{
  background-color: #f5f5f5;
  &__header{
    text-align: center;
    @media screen and (min-width: 768px){
      height: 128px;
    }
    h1{
      display: inline-block;
      margin: 11px 0 12px;
      @media screen and (min-width: 768px){
        margin: 40px 0 0;
      }
      img{
            width: 120px;
            height: 33px;
            vertical-align: middle;
          @media screen and (min-width: 768px){
            width: 185px;
            height: 49px;
          }
        }
      }  
    }
  &__main{
    display: block;
    &_block{
       background-color: white;
      @media screen and (min-width: 768px){
        width: 700px;
        margin: 0 auto;
      }
      &-text{
        padding: 24px 8px;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        font-weight: bold; 
        @media screen and (min-width: 768px){
          padding: 32px 16px;
          font-size: 22px;
          line-height: 1.5;
          text-align: center;
        }
      } 
      &_form{
        border-top: 1px solid #eee;
        &-image{
          padding: 40px 2.5%;
          @media screen and (min-width: 768px){
            width: 620px;
            padding: 40px;
          }
          &_upload{
            font-size: 16px;
            display: flex;
          }
        p{
          font-size: 12px
        }
        .dropzone-container{
          @include clearfix;
          position: relative;
          min-height: 162px;
          font-size: 0;
          text-align: center;
          display: flex;
          @media screen and (min-width: 768px){
            display: block;
            width: 620px;
          }
          .btn_wrapper{
            font-size: 14px;
            .btn_edit{
              display: inline-block;
              width: 50%;
              background: #f5f5f5;
              line-height: 44px;
              text-align: center;
            }
            .btn_delete{
              display: inline-block;
              width: 50%;
              background: #f5f5f5;
              line-height: 44px;
              text-align: center;
            }
          }
          #preview{
            float: left;
            display: flex;
            .img_view{
              margin-right: 5px;
            }
          }
          img{
            height: 114px;
            width: 114px;
          }
          pre{
            position: absolute;
            top: 50%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            pointer-events: none;
            white-space: pre-wrap;
            word-wrap: break-word;
            display: block;
          }
          .input_area{
            height: 162px;
            width: 100%;
            position: relative;
            cursor: pointer;
              .upload-image{
                display: none;
              }
            }
          }
          .dropzone-area{
            background: #f5f5f5;
            border: 1px dashed #ccc;
          }
          .dropzone-area2{
            display: none;
            background: #f5f5f5;
            border: 1px dashed #ccc;
          }
        }
        &-name{
          padding: 40px;
          border-top: 1px solid #eee;
          .product_name{
            display: flex;
          }
          .input_name{
            width: 100%;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          .product_description{
            display: flex;
            margin: 40px 0 0;
          }
          .input_description{
            display: block;
            width: 100%;
            max-width: 100%;
            min-height: 104px;
            padding: 10px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            line-height: 1.5;
          }
        }
        &-detail{
          @include clearfix;
          padding: 40px;
          border-top: 1px solid #eee;
          .text{
            color: #888;
            font-size: 14px;
            @media screen and (min-width: 768px){
              float: left;
            }
          }
          .detail_box{
            margin: 40px 0 0;
            @media screen and (min-width: 768px){
              float: right;
              width: 400px;
              margin: 0;
            }
            &-category{
              display: flex;
            }
            &-state{
              margin: 40px 0 0;
              display: flex;
            }
          }
        }
        &-about{
          @include clearfix;
          padding: 40px;
          border-top: 1px solid #eee;
          .text{
            color: #888;
            font-size: 14px;
            @media screen and (min-width: 768px){
              float: left;
            }
          }
          a{
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #0099e8;
            color: #fff;
            line-height: 14px;
            font-size: 12px;
            text-align: center;
          }
          .about_box{
            margin: 40px 0 0;
            @media screen and (min-width: 768px){
              float: right;
              width: 400px;
              margin: 0;
             }
          &-burden{
            display: flex;
             }
          &-way{
            display: flex;
            margin: 40px 0 0;
            }
          &-region{
            display: flex;
            margin: 40px 0 0;
            }
          &-day{
            display: flex;
            margin: 40px 0 0;
            }
          }    
        }
        &-price{
          @include clearfix;
          padding: 40px;
          border-top: 1px solid #eee;
          .text{
            color: #888;
            font-size: 14px;
            @media screen and (min-width: 768px){
              float: left;
            }
          }
          a{
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #0099e8;
            color: #fff;
            line-height: 14px;
            font-size: 12px;
            text-align: center;
          }
          .price_box{
            margin: 40px 0 0;
            @media screen and (min-width: 768px){
              float: right;
              width: 400px;
              margin: 0;
            }
            &-price{
              padding: 0 0 24px;
              border: 0;
              margin: 0;
              @include clearfix;
              .left{
                width: 50%;
                float: left;
                line-height: 24px;
                display: flex;
              }
              .right{
                width: 50%;
                text-align: right;
                float: right;
                display: flex;
                .input_price{
                  margin: 0;
                  text-align: right;
                  width: 100%;
                  height: 48px;
                  padding: 10px 16px 8px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: #fff;
                  line-height: 1.5;
                  font-size: 16px;
                  float: right;
                }
              }
            }
            &-fee{
              padding: 24px 0;
              border-top: 1px solid #ccc;
              @include clearfix;
              .left{
                float: left;
              }
              .right{
                float: right;
              }
            }
            &-profit{
              padding: 24px 0;
              border-top: 1px solid #ccc;
              @include clearfix;
              font-weight: 600;
              .left{
                font-size: 16px;
                float: left;
              }
              .right{
                float: right;
                font-size: 34px;
              }
            }
          }
        }
        &-confirm{
          padding: 40px;
          border-top: 1px solid #eee;
          p{
            line-height: 1.5;
            font-size: 14px;
          }
          a{
            color: #0099e8;
            text-decoration: none;
          }
          .confirm{
            margin: 40px 0 0;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
          }
          .back{
            width: 45%;
            margin: 24px auto 0;
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            display: block;
          }
        }
      }
    }  
  }
  &__footer{
      display: block;
      z-index: 1;
      height: 250px;
      padding: 40px 0;
      text-align: center;
      @media screen and (min-width: 768px){
      width: 456px;
      height: 220px;
      margin: 0 auto;
      nav{
        display: block;
        ul{
          @include clearfix;
          font-size: 0;
          list-style: none;
          li{
            font-size: 12px;
            @media screen and (min-width: 768px){
              display: inline-block;
              margin: 0 0 0 16px;
            }
            a{
              display: block;
              color: #333;
            }
          }
        }
      }
      a{
        display: block;
        color: #333;
        img{
          margin: 40px auto 0;
        }
      }
    }
    small{
      font-size: 13px;
      margin: 8px 0 0;
    }
  }
}

.focus{
  background-color: red;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.down{
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.selects{
  position: relative;
  background: #fff;
  margin: 8px 0 0;
}

.selection{
  position: relative;
  width: 100%;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  -webkit-appearance:none;
}

#way{
  position: relative;
    width: 100%;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    -webkit-appearance: none;
}

.right-box{
  display: none;
}