* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

li {
  list-style: none;
}

.link {
  color: black;
  text-decoration: none;
}

.link_blue {
  color: #0099e8;
  text-decoration: none;
}

.cell {
  text-decoration: none;
  color: #EEEEEE;
  font-size: 12px;
}

.top-page_content {
  .topic {
    height: 400px;
    background-color: aliceblue;
    .img {
      max-width: 680px;
      margin: 0 auto;
      display: block;
    }
  }
  .main_content {
    background-color: #f5f5f5;
    .products {
      min-height: 500px;
      max-width: 920px;
      margin: 0 auto;
      padding: 40px 0;
      &_head {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
      }
      &_contain {
        &_name {
          text-align: center;
          margin: 26px 11px;
          font-size: 22px;
          font-weight: bold;
        }
        &_item {
          @include clearfix();
          &-box {
            position: relative;
            float: left;
            width: 210px;
            height: 300px;
            margin: 5px 0 0 20px;
            background-color: white;
            &-image {
              width: 210px;
              height: 190px;
            }
            &-body {
              position: relative;
              width: 210px;
              height: 110px;
              padding: 16px;
              &-name {
                font-size: 16px;
                height: 3em;
              }
              &-under {
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
                &-price {
                  
                }
                &-likes {
                  
                }
              }
            }
          }
        }
        &_view {
          text-align: right;
          padding: 20px 0 30px 0;
          margin-right: 5px;
          font-size: 14px;
        }
      }
    }
  }
}