.contents
  = render "shared/logoheader"
  .main.single-main
    .purchase-head
      購入内容の確認
    .purchase-products
      .purchase-products__inner
        .purchase-products__image
          = image_tag src= "https://static.mercdn.net/thumb/photos/m21694605444_1.jpg?1565745931" ,width: "64", height: "52.97"}
        .purchase-products__name.bold
          28cm NIKE LD waffle Sacai
        %form.purchase-products__box
          .purchase-products__price.bold
            ¥ 61,500
            %span.purchase-products__shipping-fee
              送料込み
          .purchase-products__toggle
            ポイントはありません
          .purchase-products__cell
            支払い金額
            %span.purchase-products__price-cell ¥ 61,500
          .purchase-products__btn
            = form_tag(action: :pay, method: :post,name: :pay) do
              %button 購入する   
    .purchase-user-info
      .purchase-user-info__delivery 配送先
      .purchase-user-info__zipcode
        〒123-4567
      .purchase-user-info__adress
        大阪府大阪市中央区難波5-1-60 
        %br
        kkkkkk
      %a.purchase-user-info__change-btn
        %span.change-link 変更する
        %i.fa.fa-angle-right
    .purchase-card-info
      .purchase-card-info__pay-fix
        支払い方法
      .purchase-card-info__number
        **** **** **** ****
      .purchase-card-info__expire
        05/24
      .purchase-user-info-card__pay-fix-method
        = image_tag src="/assets/Visa_Inc._logo.svg.png", size: "49x15"
      %a.purchase-user-info__change-btn
        %span.change-link 変更する
        %i.fa.fa-angle-right
  =render "shared/logofooter"